{
    "plugins": [
        "react",
        "react-native"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "react-native/react-native": true
    },
    "ignorePatterns": [
        "**/__tests__/**",
        "**.test.js"
    ],
    "rules": {
        "react-native/no-unused-styles": 2,
        "react-native/split-platform-components": 2,
        "react-native/no-inline-styles": 2,
        "react-native/no-raw-text": 2,
        "react-native/no-single-element-style-arrays": 2
    }
}